<robot name="CyberNaviRobot" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find sim01_urdf_old)/urdf/urdf/corn_harvester.urdf"/>
    <xacro:include filename="$(find sim01_urdf_old)/urdf/xacro/gazebo/move_control.urdf.xacro"/>
    <xacro:include filename="$(find sim01_urdf_old)/urdf/xacro/gazebo/sensors_plugin.urdf.xacro"/>
</robot>