<?xml version="1.0" encoding="utf-8"?>
<robot
  name="corn_harvester">

  <link name="base_footprint">
    <visual>
      <geometry>
          <sphere radius="0.001"/>
      </geometry>
    </visual>
  </link>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0020787 0.45793 0.058"
        rpy="0 0 0" />
      <mass
        value="10.2316767990512" />
      <inertia
        ixx="0.00139586884914313"
        ixy="-1.1634425915606E-06"
        ixz="2.08900696909113E-08"
        iyy="0.00163816424060367"
        iyz="1.3906877128818E-07"
        izz="0.00212627787861002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 2.16"/>
  </joint>


  <link
    name="left_front_wheel_link0">
    <inertial>
      <origin
        xyz="-0.3271 0.14034 0.020054"
        rpy="0 0 0" />
      <mass
        value="0.503853041294886" />
      <inertia
        ixx="5.77203859894131E-06"
        ixy="-6.39490308551869E-10"
        ixz="-6.55101507497994E-10"
        iyy="7.74120907350755E-06"
        iyz="1.14467480632514E-09"
        izz="5.77288622221224E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/left_front_wheel_link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/left_front_wheel_link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_front_wheel_joint0"
    type="continuous">
    <origin
      xyz="2.767 -3.5054 -1.1624"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="left_front_wheel_link0" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="right_front_wheel_link1">
    <inertial>
      <origin
        xyz="-0.3271 0.14034 0.020054"
        rpy="0 0 0" />
      <mass
        value="0.503852021760132" />
      <inertia
        ixx="5.77199099297903E-06"
        ixy="-6.47832070333766E-10"
        ixz="-6.39570296767498E-10"
        iyy="7.74122684098967E-06"
        iyz="1.13229861557678E-09"
        izz="5.7728593340892E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/right_front_wheel_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/right_front_wheel_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_wheel_joint1"
    type="continuous">
    <origin
      xyz="-2.767 -3.5054 -1.4431"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_front_wheel_link1" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="right_rear_wheel_link2">
    <inertial>
      <origin
        xyz="-0.3271 0.14034 0.020054"
        rpy="0 0 0" />
      <mass
        value="0.503853041294886" />
      <inertia
        ixx="5.77203859894127E-06"
        ixy="-6.39490308545873E-10"
        ixz="6.55101507484353E-10"
        iyy="7.7412090735075E-06"
        iyz="-1.14467480634659E-09"
        izz="5.77288622221223E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/right_rear_wheel_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/right_rear_wheel_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_rear_wheel_joint2"
    type="continuous">
    <origin
      xyz="-2.767 2.3546 -1.4431"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_rear_wheel_link2" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="left_rear_wheel_link3">
    <inertial>
      <origin
        xyz="-0.3271 0.14034 0.020054"
        rpy="0 0 0" />
      <mass
        value="0.503852022031433" />
      <inertia
        ixx="5.7719914844331E-06"
        ixy="-6.47591418647473E-10"
        ixz="6.3996728285628E-10"
        iyy="7.74122667602425E-06"
        iyz="-1.13209672720901E-09"
        izz="5.77285855433357E-06" /> 
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/left_rear_wheel_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/left_rear_wheel_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_rear_wheel_joint3"
    type="continuous">
    <origin
      xyz="2.767 2.3546 -1.1624"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="left_rear_wheel_link3" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="-0.00098912 -0.21034 -0.0064035"
        rpy="0 0 0" />
      <mass
        value="0.1" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sim01_urdf/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.005493 -2.8923 3.7226"
      rpy="1.5718 -0.0036179 2.3184" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <gazebo reference="left_front_wheel_link0">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>16.0</mu>
            <mu2>16.0</mu2>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="right_front_wheel_link1">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>16.0</mu>
            <mu2>16.0</mu2>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="right_rear_wheel_link2">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>16.0</mu>
            <mu2>16.0</mu2>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="left_rear_wheel_link3">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>16.0</mu>
            <mu2>16.0</mu2>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

</robot>